* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
  color: rgb(234, 203, 210);
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  background: rgb(0, 0, 34);
}

.container {
  display: grid;
  justify-items: center;
  border-radius: 10px;
  grid-gap: 10px;
  background: rgb(22, 22, 83);
  max-width: fit-content;
  padding: 2.5rem;
  margin: auto;
}

img {
  display: block;
  border-radius: 50%;
  width: 100%;
  height: auto;
  transition: 0.5s ease;
  backface-visibility: hidden;
}

.icon {
  display: block;
  width: 10rem;
}

h1 {
  font-size: 25px;
  font-weight: 700;
}

h2 {
  color: rgb(225, 71, 93);
  font-size: 17px;
  font-weight: 600;
  padding-bottom: 1rem;
}

p {
  padding-bottom: 1rem;
  font-size: 14px;
}

main a {
  display: flex;
  width: 100%;
  background: hsl(0, 0%, 20%);
  height: 3rem;
  border-radius: 5px;
  font-weight: 600;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

main a:hover {
  background-color: rgb(225, 71, 93);
  color: hsl(0, 0%, 12%);
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: rgb(234, 203, 210);
}
